.container {
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	padding: 15px;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	background: #111;
	text-align: center;
}

.container .question {
	margin-bottom: 30px;
	font-size: 1.7rem;
	color: #ddd;
}
